<nav
    class="flex flex-col md:flex-row items-start md:items-center justify-between py-[10px] px-[20px] bg-[#2B2B2B] text-[#EAEAEA]">
    <a href="/">
        <h1 class="font-[Special_Elite] text-[56px] m-0 text-yellow-400 [text-shadow:4px_4px_#000] font-bold">
            Quentin Tarantino
        </h1>
    </a>
    <div class="list-none flex flex-col md:flex-row justify-center gap-[25px] m-0 p-0">
        <a class="no-underline text-yellow-400 font-[Special_Elite] font-bold text-xl tracking-wide  transition-all duration-300 hover:text-[#E50914] hover:scale-110 cursor-pointer"
            href="/movies">
            Movies
        </a>


        <a class="no-underline text-yellow-400 font-[Special_Elite] font-bold text-xl tracking-wide  transition-all duration-300 hover:text-[#E50914] hover:scale-110 cursor-pointer"
            href="/interviews">
            Interviews
        </a>


        <a class="no-underline text-yellow-400 font-[Special_Elite] font-bold text-xl tracking-wide  transition-all duration-300 hover:text-[#E50914] hover:scale-110 cursor-pointer"
            href="/quotes">
            Quotes
        </a>
    </div>
</nav>